<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILongitudService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56686/ec/edu/monster/ws/LongitudService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILongitudService"
                contract="LongitudService.ILongitudService" name="BasicHttpBinding_ILongitudService" />
        </client>
    </system.serviceModel>
</configuration>