<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<!-- ============================================ -->
	<!-- CONFIGURACIÓN DE PARÁMETROS DE CRÉDITO      -->
	<!-- ============================================ -->
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

		<!-- Parámetros del módulo de crédito -->
		<add key="CreditoTasaAnual" value="0.16" />
		<add key="CreditoPlazoMinimo" value="3" />
		<add key="CreditoPlazoMaximo" value="24" />
		<add key="CreditoPorcentajeCapacidad" value="0.60" />
		<add key="CreditoMultiplicador" value="9" />
	</appSettings>

	<!-- ============================================ -->
	<!-- CONEXIÓN A SQL SERVER EN DOCKER             -->
	<!-- ============================================ -->
	<connectionStrings>
		<!-- SQL Server 2022 corriendo en Docker -->
		<add name="BanquitoDb"
			 connectionString="Server=localhost,1433;Database=BanquitoDB;User Id=sa;Password=Admin1234;TrustServerCertificate=True;MultipleActiveResultSets=True;Encrypt=False;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>

	<!-- ============================================ -->
	<!-- CONFIGURACIÓN DE WCF (SOAP)                 -->
	<!-- ============================================ -->
	<system.serviceModel>
		<services>
			<!-- Servicio de Crédito SOAP -->
			<service name="BanquitoServer_Soap_DotNet_GR01.WS.CreditoSoapService"
					 behaviorConfiguration="ServiceBehavior">
				<endpoint address=""
						  binding="basicHttpBinding"
						  bindingConfiguration="BasicHttpBinding_Config"
						  contract="BanquitoServer_Soap_DotNet_GR01.WS.ICreditoSoapService" />
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
			</service>
		</services>

		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_Config"
						 maxBufferSize="2147483647"
						 maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="32"
								 maxStringContentLength="2147483647"
								 maxArrayLength="2147483647"
								 maxBytesPerRead="2147483647"
								 maxNameTableCharCount="2147483647" />
				</binding>
			</basicHttpBinding>
		</bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<!-- Habilitar metadata (WSDL) -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<!-- Incluir detalles de excepciones para debugging -->
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<directoryBrowse enabled="true" />
	</system.webServer>

	<!-- ============================================ -->
	<!-- ENTITY FRAMEWORK 6                          -->
	<!-- ============================================ -->
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

</configuration>
